<form action = "/answer">

  <div class="row justify-content-center">

    <div class="col-12 col-lg-6">

      <label for="Stupid coaching" class="form-label">What's your question?</label>
      <input type="text" name="answer" class="form-control" id="Stupid coaching" aria-describedby="emailHelp" value="<%= params[:questions] %>">

      <button type="submit" class="btn btn-primary mt-3">Ask!</button>

    </div>


  </div>

</form>
